/* Typography */
@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400 800;
}

/* Global styles*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    scroll-behavior: smooth;
    font-family: 'Inconsolata', sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-neutral-0);
}

main {
    height: 100%;
}

button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

input, button, textarea, select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}